header{
    display: flex;
    align-items: center;
    height: var(--toolbar-height);
    background-color: rgb(42, 192, 177);
    box-shadow: 3px 3px 3px 4px  rgb(56, 144, 135);
    font-size: 18px;
    margin-bottom: 5px;
    padding: 3px;
}